@import "tailwindcss";
@import "./Layout.css";
@import "./App.css";
@import "./ui.css";
@import "./Sections.css";
@import "./MediaQueries.css";

:root {
  font-family: "Inter", sans-serif;
  background-color: #F8FAFC;
}

.separator {
  margin: 0 12px;
}