@reference "tailwindcss";

/********************
******* HEADER ******
********************/

.header {
    @apply flex 
        p-[20px]
        justify-between
        items-center 
        bg-[#FFFFFF] 
        shadow-[0_2px_2px_0_#D9D9D9]
        w-full
}

.title_site {
    @apply text-[#1F2A44]
        font-semibold
}

.nav {
    @apply max-md:hidden
}

.nav-list {
    @apply flex
        justify-end
        items-center
        gap-[20px]
        text-[#5A6A85]
        text-[14px]
        w-full
}

.nav-mobile {
    @apply hidden
        max-md:block
        w-[32px]
        cursor-pointer
}

.menu-close {
    @apply w-[32px]
        cursor-pointer
}

.menu-body {
    @apply flex
        p-[30px]
        flex-col
        items-start
        gap-[60px]
        text-[#5A6A85]
}

.mobilNavModal {
    @apply bg-[#FFFFFF]
        fixed
        inset-0
        z-50
        flex
        flex-col
        justify-start
        items-start
        w-full
        h-screen
}

/********************
******* FOOTER ******
********************/

.footer {
    @apply flex
        px-[120px] py-[60px]
        flex-col
        justify-center
        items-start
        border-t
        border-[#E5E7EB]
        bg-[#F8FAFC]
        gap-[24px]
        text-[12px]
        max-md:px-[60px] max-md:py-[30px]
        max-md:gap-[24px]
}

.footer-top {
    @apply flex
        justify-between
        items-start
        w-full
        max-md:flex-col
        max-md:gap-[20px]
}

.footer-bottom {
    @apply flex
        justify-center
        w-full
        text-[#6B7280]
}

.footer-titles {
    @apply flex
        flex-col
        items-start
        gap-[8px]
}

.footer-links {
    @apply flex
        justify-center
        items-center
        gap-[16px]
        text-[#6B7280]
}

/*******************
******* MAIN *******
*******************/