@reference "tailwindcss";

/********************
****** Boutons ******
********************/

.btn {
    @apply flex
        py-[14px] px-[28px]
        justify-center
        items-center
        gap-[16px]
        rounded-[8px]
        text-[12px]
        cursor-pointer
}

.btn-primary {
    @apply
        bg-[#5A6A85]
        text-[#FFFFFF]
}

.btn-secondary {
    @apply
        border
        border-[#5F84C3]
        bg-[#FFFFFF]
        text-[#5F84C3]
}

/******************************
******** SECTIONS HERO ********
******************************/

.hero-container {
    @apply
        flex
        flex-col
        items-start
        px-[120px] pt-[100px] pb-[80px]
        gap-[25px]
        bg-linear-180
        from-[#F8FAFC] to-[#EEF3FA]
}

.hero-header {
    @apply
        flex
        flex-col
        items-start
        gap-[25px] 
}

.hero-eyebrow {
    @apply
        text-[#2F5D9F]
        text-[16px]
        font-bold
        tracking-[-0.16px]
}

.hero-title {
    @apply
        text-[#2F5D9F]
        text-[40px]
        font-bold
        tracking-[-0.4px]
}

.hero-description {
    @apply
        text-[#6B7280]
        text-[18px]
        tracking-[-0.18px]
}

.important {
    @apply
        font-bold
}

/*******************************
****** SECTIONS GENERALES ******
*******************************/

.hero-container {
    @apply
        pt-[100px] px-[120px] pb-[80px]
        gap-[25px]
        bg-linear-180
        from-[#F8FAFC] to-[#EEF3FA]
        flex
        flex-col
        items-start
}

.section-container {
    @apply
        flex
        p-[120px]
        flex-col
        items-center
        gap-[80px]
        w-full
}

.section-header {
    @apply
        flex
        flex-col
        items-start
        gap-[12px]
        pb-[60px]
        w-full
}

.section-title {
    @apply
        text-[#1F2A44]
        text-[36px]
        font-semibold
        max-sm:text-[22px]
}

.section-text {
    @apply
        text-[#5A6A85]
        text-[15px]
        leading-[22px]
        max-sm:text-[14px]
}

.section-body {
    @apply
        w-full
        flex
}

/***************************
******* Carte projets ******
***************************/

.project-card {
    @apply
        flex
        p-[32px]
        justify-center
        items-center
        gap-[80px]
        bg-[#FFFFFF]
        rounded-[16px]
}

.project-card--image-left {
    @apply flex-row;
}

.project-card--image-right {
    @apply flex-row-reverse;
}

.project-card--featured {
    @apply
        flex
        items-center
        gap-[80px]
        p-[32px];
}

.project-card-compact {
    @apply
        flex-col
        gap-[12px]
        p-[24px]
        shadow-[0_8px_24px_rgba(0,0,0,0.05)];
}

.project-card-compact .project-card-content {
    @apply w-full;
}

.project-card-compact .project-card-visual {
    @apply hidden;
}

.project-card-detailed {
    @apply
        flex
        items-center
        gap-[80px]
        p-[40px];
}

.project-card-visual {
    @apply
        flex
        /* flex-col */
        items-center
        justify-center
        rounded-[16px]
        shadow-[0_16px_40px_0_rgba(0,0,0,0.08)]
        p-[10px]
        w-[50%]
        overflow-hidden;
}

.project-card-img {
    @apply
        w-full
        rounded-[16px]
}

.project-card-content {
    @apply
        flex
        p-[10px]
        flex-col
        items-start
        gap-[16px]

}

.project-card-content-title {
    @apply
        text-[#2F5D9F]
        text-[28px]
        font-medium
        min-h-[85px]
}

.project-card-description {
    @apply
        text-[#5A6A85]
}

.project-card-techs {
    @apply
        text-[#5F84C3]
        text-[14px]
        /* flex
        gap-[14px] */
}

.project-card-roles {
    @apply
        text-[#1F2A44]
        text-[14px]
        list-disc
}

.project-card-status {
    @apply
        text-[12px]
        font-medium
        flex
        px-[8px] py-[4px]
        justify-center
        items-center
        rounded-[6px]
        bg-[#EAF1FB]
}

.project-card-actions {
    @apply
        flex
        /* justify-center */
        items-center
        gap-[20px]
}

/***************************
******* Carte skills *******
***************************/

.skillsCard_box {
    @apply
        relative
        w-[325px]
        h-[160px]
        bg-[#FFFFFF]
        shadow-[0_8px_20px_0_rgba(0,0,0,0.08)]
        rounded-[16px]
        p-[24px]
}

.skillsCard,
.skillsCard_hover {
    @apply
        w-full
        h-full
        absolute
        inset-0
        flex
        flex-col
        gap-4
        p-[24px]
}

.skillsCard {
    display: flex;
}

.skillsCard_hover {
    display: none;
}

.skillsCard_box:hover .skillsCard {
    display: none;
}

.skillsCard_box:hover .skillsCard_hover {
    display: flex;
}

.skillsCard_title {
    @apply
        text-[15px]
        font-bold
        leading-[22px]
}

.skillsCard_body {
    @apply
        w-full
        h-full
        flex
        justify-center
}

.skillsCard_icons {
    @apply
        flex
        gap-[16px]
        flex-wrap
        justify-center
        items-center
        w-full
}

.skillsCard_iconBox {
    @apply
        w-[50px]
        /* h-[50px] */
        flex
        justify-center
        items-center
}

.skillsCard_icon {
    @apply
        w-full
        h-full
}

.skillsCard_list {
    @apply
        w-full
        h-full
        flex-col
        flex-wrap
        text-[15px]
        gap-2
}

.icons {
    @apply
        w-[50px]
        h-[50px]
}

/* Badge */

.badge {
    @apply
        flex
        justify-center
        items-center
        px-[8px] py-[4px]
        rounded-[6px]
        bg-[#EAF1FB]
}

/******************************
******** MEDIA QUERIES ********
******************************/

/* Tablette */
@media (max-width: 66rem) {
    .section-container {
        @apply 
            flex-col
            py-[60px]
            px-[120px]
            gap-[60px]
            w-full
    }

    .project-card {
        @apply
            flex-col
            w-full
    }

    .project-card-visual {
        @apply
            w-full
    }

    .project-card-content {
        @apply
            w-full
    }

    .section-body {
        @apply
            w-full
            flex-wrap
    }
}

/* Mobile */
@media (max-width: 40rem) {

    .hero-container {
        @apply
            px-[60px] pt-[50px] pb-[40px]
    }

    .section-container {
        @apply
            p-[60px]
    }

    .project-card-content-title {
        @apply
            h-full
    }

    .skillsCard_box {
        @apply
            w-full
    }

    .skillsCard_iconBox {
        @apply
            w-[20%]
            flex
            justify-center
            items-center
    }

}